In [8]:
from utils.sql import MySQL
import pandas as pd

In [9]:
mysql = MySQL()

In [10]:
result = mysql("SELECT name FROM restaurants.name")
result

[{'name': 'The Culinary Haven'},
 {'name': 'Bistro Fusion'},
 {'name': 'Spice Symphony'}]

In [12]:
result = mysql("""
               SELECT item_type, item_name, cost, preparation_time 
               FROM restaurants.details 
               WHERE restaurant_id in (SELECT id from restaurants.name WHERE name like "%Bistro Fusion%") 
               """)
pd.DataFrame(result)

      item_type                    item_name   cost  preparation_time
0      Starters              Shrimp Cocktail   8.99                10
1      Starters       Bruschetta al Pomodoro   6.50                10
2      Starters         Chicken Caesar Salad   9.99                15
3      Starters                 Beef Sliders  10.99                20
4      Starters            Stuffed Mushrooms   7.99                18
5   Main Course                   Lamb Shank  21.99               120
6   Main Course              Teriyaki Salmon  16.99                25
7   Main Course                 Ribeye Steak  24.99                25
8   Main Course           Fettuccine Alfredo  13.99                20
9   Main Course  Grilled Chicken Caesar Wrap  11.99                15
10     Desserts              CrÃ¨me BrÃ»lÃ©e   7.99                45
11     Desserts             Chocolate Fondue   8.99                15
12     Desserts                  Panna Cotta   6.99               240
13     Desserts                 Banana Split   5.99                10
14     Desserts                      Baklava   6.50                50